  <footer class="footer">
    <div class="container grid">
      <div>
        <h4>มัสยิดบ้านสมเด็จ</h4>
        <p>โรงเรียนสหบำรุงวิทยา <br>ซอยวัดคลองไส้ไก่, แขวง หิรัญรูจี หิรัญรูจี, กรุงเทพมหานคร 10600<br>โทร: 02-465-6700<br>อีเมล: info@bansomdetmosque.or.th</p>
      </div>
      <div>
        <h4>ลิงก์ด่วน</h4>
        <ul>
          <li><a href="About.html">เกี่ยวกับเรา</a></li>
          <li><a href="News.html">ข่าวสาร</a></li>
          <li><a href="PrayerTimes.html">ตารางเวลาละหมาด</a></li>
          <li><a href="Donate.html">บริจาค</a></li>
        </ul>
      </div>
      <div>
        <h4>แผนที่</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.801018460999!2d100.49097719999999!3d13.730493599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e298fbf7d1a127%3A0x2d7762f023e703b2!2z4Lih4Lix4Liq4Lii4Li04LiU4Lia4LmJ4Liy4LiZ4Liq4Lih4LmA4LiU4LmH4LiI!5e0!3m2!1sth!2sth!4v1773199720626!5m2!1sth!2sth"width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div>
        <h4>ติดตามเรา</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">YouTube</a></li>
          <li><a href="#">LINE</a></li>
        
      </div>
      <div>
        <form action="" novalidate>
          <label for="email"><h4>Enter your email:</h4></label>
          <input type="email" id="email" name="email" required><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="text-box">
    © 2025 มัสยิดบ้านสมเด็จ | Bansomdet Mosque
    </div>
  </footer>